* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background: url('./background1.jpg') bottom center ;
  background-size: cover;
  
 
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 4.2vw;
  background: #f414e185;
  text-shadow: 2px 2px 1px #333, -1px -1px 0 rgb(231, 122, 122);
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}


.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.9);
  text-shadow: 0 0 .5rem black;
  font-weight: 900;
}
.key:hover {
  cursor: pointer;
  transform: translate(0, 0.5em);
  color: rgb(10, 10, 10);
  background-color: rgb(90, 63, 63);
  border: rgb(90, 63, 63);
}

.key:active {
  color: rgb(10, 10, 10);
  background-color: rgb(52, 46, 46);
  border: rgb(38, 35, 35)solid .4rem;
  transform: translate(0, -0.5em);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ff00ea;
  font-weight: 700;
}
